 .book-grid {
        display: grid;
        grid-template-columns: repeat(4 ,1fr);
        gap: 10px;
      }

      .book-card {
        padding: 10px;
        border: 1px solid ;
        border-radius: 10px;
      }

      .book-card h2 {
        margin-top: 0;
   }